.kaufman__triangle {
  background-size: cover;
  background-image: url(../images/kaufman-triangle.svg);
  height: 877px;
  width: 877px;
  z-index: 0;
  position: absolute;
  top: 0;
  right: -210px;
}
